asgiref
certifi
cffi
charset-normalizer
crispy-bootstrap5
cryptography
distlib
dj-rest-auth
Django
django-allauth
django-cors-headers
django-crispy-forms
django-environ
django-filter
djangorestframework
filelock
idna
MouseInfo
mysql-connector-python
numpy
open-cv-plus
opencv-contrib-python
pillow
pipenv
platformdirs
PyAutoGUI
pycparser
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
requests
setuptools
sqlparse
tzdata
urllib3
virtualenv